.container {
    width: 1200px;
    margin: 0 auto;
}

.logo {

    text-decoration: none;
    font-size: 80px;
}

header nav ul {

    display: flex;
    justify-content: center;
    width: 1280px;
    height: 70px;
    margin-top: 50px;
    background: #35444F;
}

header nav ul li {
    display: flex;
    border-left: 1px solid #FFFFFF;
}

header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400px;
    font-size: 24px;
    line-height: 28px;
    padding: 0px 32px 0px 32px;
    list-style: none;

}

header nav ul li a:hover {
    background: #222F3A;
}

.left-menu-border {
    
    display: flex;
    
        width: 344px;
        left: 0px;
        top: 0px;
        
        background: rgba(0, 0, 0, 0);
        border: 1px solid #000000;

}

.tab1 {
    margin: ;
   
    left: 44px;
    top: 26px;
    
    font-size: 27px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0px;
            text-align: left;
            color: #485863;
}

.list {
    display: block;
    padding: 20px;
   j
}

